<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<title>Change Password</title>
</head>

<body>
	<h1>Change Password</h1>
	<form id="reg-form">
		<input class="form-control" type="password" autocomplete="off" id="password" placeholder="Password" />
		<input class="form-control" type="submit" value="Submit Form" />
	</form>

	<script>
		const form = document.getElementById('reg-form')
		form.addEventListener('submit', registerUser)

		async function registerUser(event) {
			event.preventDefault()
			const password = document.getElementById('password').value

			const result = await fetch('/api/change-password', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					newpassword: password,
					token: localStorage.getItem('token')
				})
			}).then((res) => res.json())

			if (result.status === 'ok') {
				// everythign went fine
				alert('Success')
			} else {
				alert(result.error)
			}
		}
	</script>
</body>

</html>